* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Ariel, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  color: #000;
}

button {
  padding: 2px 5px 0 5px;
  margin: 0 5px 15px 5px;
}

.asc {
  align-self: center;
}

.bor1s {
  border: 1px solid;
}

.boxRad {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div {
  display: inline-block;
}

.heading-primary {
  color: #000;
}

.heading-primary-main {
  display: block;
  font-size: 24px;
  font-weight: 400;
}

.heading-primary-sub {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

hr {
  background-color: #000;
}

.mt15 {
  margin-top: 15px;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

#EP, #NP, #SA, #EL, #HL, #FL, #gpm {
  color: #fff;
  background-color: #6c757d;
  padding: 3px 8px;
  font-weight: 100;
  font-size: 14px;
}
