* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Ariel, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ff0;
  color: #00f;
}

.btn {
  color: #ff0;
}

.backBlue {
  background-color: #00f;
}

.backYel {
  background-color: #ff0;
}

button {
  padding: 2px 5px 0 5px;
  margin: 0 5px 15px 5px;
}

.col-2 {
  text-align: center;
  padding: 0;
}

.asc {
  align-self: center;
}

.bor1s {
  border: 1px solid;
}

.boxRad {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div {
  display: inline-block;
}

.dropdown-menu {
  background-color: #fff;
  color: #00f;
}

.heading-primary {
  color: #000;
}

.heading-primary-main {
  color: #00f;
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.heading-primary-sub {
  color: #00f;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

hr {
  background-color: #00f;
  border-width: 8px;
}

.precon {
  background-color: #eef;
}

.statPres {
  writing-mode: vertical-rl;
  justify-self: center;
  margin-left: 10px;
  text-align: center;
}

.mt15 {
  margin-top: 15px;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

#top {
  background-color: #ff0;
  display: block;
  padding: 10px 0;
  border-bottom: 8px solid #00f;
}

#EP, #NP, #SA, #EL, #HL, #FL, #gpm, #HD {
  color: #ff0;
  background-color: #00f;
  padding: 3px 8px;
  font-weight: normal;
  font-size: 14px;
}

#FL {
  background-color: #03f;
}

#reset {
  background-color: #f00;
}

.flashWite {
  -webkit-animation: flashWite 2s infinite;
  animation: flashWite 2s infinite;
}

@-webkit-keyframes flashWite {
  0%, 100% {
    color: #000;
  }
  25%, 75% {
    color: #fff;
  }
  50% {
    color: #000;
  }
}

@keyframes flashWite {
  0%, 100% {
    color: #000;
  }
  25%, 75% {
    color: #fff;
  }
  50% {
    color: #000;
  }
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  float: left;
}
